.estandarTablaDesign{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Recursos/iconos/FondoLogin.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Benton Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.cuerpopagina{
  background-image: url("../Recursos/fondos-pantalla-apple_thumb1200_4-3.jpg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.tablaMenuDerechos{
    opacity: 1.0;
    float: CENTER;
    background: #000000
}

.botonLoginDesign{
    background-color: palevioletred;
    background-image: url(../Recursos/iconos/fondoBoton.jpg);
    border: 12;
    color: white;
    padding: 15px 150px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    cursor: pointer;
}

.formDesign{
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: 7px 13px 37px black;
}

.imagenLogin{
    background-image: url(../Recursos/iconos/ContenedorBienvenida.jpg);
    background-position: left;
    width: 51%;
    height: 65%;
    border-radius: 50px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
div#banner{
    background-position: center;
    border: 0cm;
    align-items: center;
    width: 100%;
    height: 1080px;
}
img#img_banner{
    display: block;
    margin: auto;
    border-radius: 50px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.camposDesign{
    border: 12;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}